{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Comenta!!</h1>
          </div>
        </div>
  </div>


<section>
  <div class="lightBg">
    <div class="container">
        <form id="BlogForm" method="POST" action="{% url 'main:contact'%}" enctype = "multipart/form-data">
        {% csrf_token %}
        <br>
          
            <label for="name">Usuario</label>
            {{form.name}}

            <label for="quote">Comentario</label>
            {{form.quote}}
           
            <label for="ithumbnail">Foto de Perfil</label>
            {{form.thumbnail}}
            <br><br>
            <input class='btn btnPrimary' type="submit" value="Comentar!">
            
        </form>
        <br>
    </div>
  </div>
</section> 

<!-- ================================
End Content
================================= -->
{%endblock%}
    